* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.wrapper {
    width: 100%;
    min-height: 100vh;;
    display: flex;
}

.info {
    width: 50%;
}

.info h2 {
    font-size: 50px;
    margin-top: 55px;
    text-align: center;
    color: #FE3B1F;
}

article {
    margin: 50px 0 0 130px;
}

article h4 {
    font-weight:lighter
}

article form {
    margin-top: 10px;
}

article form label {
    font-size: 14px;
}

article form input {
    margin-top: 7px;
}

.pages {
    margin-top: 60px;
    text-align: center;
}

a {
    text-decoration: none;
}

.text {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #181818;
}

.text h2 {
    font-size: 50px;
    margin-top: 55px;
    font-weight: bold;
    color: #FE3B1F;
}

.text p {
    width: 61%;
    font-size: 20px;
    color: white;
    line-height: 170%;
    letter-spacing: 0.05em;
    margin-top: 100px;
}

#date_ex {
    width: 453px;
    height: 35px;
    padding-left: 40px;
    background: url(/images/calendar.png) no-repeat right 5px center;
}

#date_ex2 {
    width: 453px;
    height: 35px;
    padding-left: 40px;
    background: url(/images/calendar.png) no-repeat right 5px center;
}

/* #date_ex::placeholder{
    color: red;
} */

/* ::-webkit-datetime-edit { padding: 1em;; }
::-webkit-datetime-edit-fields-wrapper { background: silver; }
::-webkit-datetime-edit-text { color: red; padding: 0 0.3em; }
::-webkit-datetime-edit-month-field { color: blue; }
::-webkit-datetime-edit-day-field { color: green; }
::-webkit-datetime-edit-year-field { color: purple; }
::-webkit-inner-spin-button { background-color:aqua; }
::-webkit-calendar-picker-indicator {
    display: none;
    margin-left: 55px;
    background-color: aqua;
} */

