@font-face {
    src: url(/fonts/Rowdies-Regular.ttf);
    font-family: 'rowdies';
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
}

.wrapper {
    min-width: 633px;
    width: 100%;
    height: 100%;
    background-image: url(/images/stars.png);
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    color: #FE3B1F;
    font-size: 70px;
    margin-top: 120px;
}

.button {
    padding: 15px 60px;
    border-radius: 50px;
    background-color: #FE3B1F;
    color: white;
    text-decoration: none;
    margin-top: 120px;
}

.submit {
    color: white;
    font-size: 18px;
    margin-top: 30px;
}

figure {
    width: 330px;
}

.rocketman {
    width: 330px;
    transform: rotate(2deg);
}

