* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.wrapper {
    width: 100%;
    height: 100vh;
    display: flex;
}

.info {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.info h2 {
    width: 80%;
    font-size: 60px;
    color: #FE3B1F;
    text-align: center;
}

.inputs {
    display: flex;
    flex-direction: column;
}

.info input {
    padding: 12px 100px;
    border: 1px solid gray;
    margin-bottom: 30px;
}

.info input:nth-child(4) {
    margin-top: 15px; 
}

a {
    text-decoration: none;
}

.text {
    width: 50%;
    background-color: #181818;
}

.text h2 {
    margin-left: 13%;
    margin-top: 55px;
    width: 80%;
    font-size: 60px;
    color: #FE3B1F;
}

.text p {
    margin-left: 13%;
    margin-top: 100px;
    width: 70%;
    font-size: 20px;
    line-height: 40px;
    color: white;
}